<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="principal"></ion-back-button>
        </ion-buttons>
    <ion-title>Biblioteca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
  <ion-row>
    <ion-col>
      <div>
        <ion-img class ="img-libro" src="https://images-na.ssl-images-amazon.com/images/I/7139EcoIUpL.jpg"></ion-img>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <ion-list>
          <ion-item>
            <ion-label>
              <h3>Nombre</h3>
              <p>....</p>
              <h3>Autor</h3>
              <p>....</p>
              <h3>Editorial</h3>
              <p>....</p>
              <h3>Paginas</h3>
              <p>....</p>
            </ion-label>
          </ion-item>
        </ion-list>        
    </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div>
        <ion-item>
          <h4>Disponibilidad</h4>
            <p>....</p>
        </ion-item>
      </div>
    </ion-col>
    <ion-row>
    <ion-col>
      <div>
        <ion-item>
        <h4>Tiempo restante</h4>
        <p>....</p>
      </ion-item>
      </div>
    </ion-col>
  </ion-row>
    <ion-row>
      <div>
        <ion-item>
        <ion-button color="primary" (click)="agregarDeseados()">Agregar a Deseados</ion-button>
    
        <ion-button color="primary" (click)="agregarFavoritos()">Agregar a Favoritos</ion-button>
      </ion-item>
      </div>

    </ion-row>
  </ion-row>
</ion-grid>
</ion-content>